.card {

    display: flex;
    align-items: center;
    background-color: #edede9;
    flex-direction: column;
    border-radius: 15px;
    width: fit-content;
    
}
.image{
    border-radius: 15px;
}

.pokeName{
    font-family: Arial;
    font-size: 20px;
    color: black;
    font-weight:bold; 
}

.type{
    font-family: Arial;
}