.ulContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    gap: 1em;

    .a:hover{
        color: aliceblue;
        background-color: black;
        border-radius: 15px;
    }

};
